# Copier ce fichier en .env.local et remplir avec les valeurs du projet Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mdzxitzgzndpuxobjqcq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0rl-7bthOQkzNMNkKks2BQ_0eaycVoB